body {
    background: url(../images/fashion-geometric-style-neon-texture_24640-39569.jpg);
}


.jumbotron {
    background: #43f98f;
    color: black;
    margin: 50px;
}

#quizContainer, #resultsContainer {
    background: #43f98f;
    color: black;
    width: 800px;
    margin: 25px 50px 0 25px;
}

#submitButton, #startButton {
    margin: 5px 50px;
}